<div class="container bg-info m-4">
    <h1>About This Angular App</h1>
    <p class="fs-3">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ea sit dicta atque. Accusamus perspiciatis dolore vero! Nisi culpa blanditiis cupiditate deserunt aut consectetur fuga placeat animi explicabo corrupti veniam, tenetur quae fugiat, ex mollitia quis autem eligendi. Asperiores nesciunt cumque nisi, soluta voluptatum culpa eligendi fugiat vero in eius iure inventore, optio mollitia ullam. 
    
    </p>
    
    <p class="fs-3">
        Dolorum nobis sit non illo ipsa, consectetur libero debitis, repellendus accusamus culpa minus labore error iure exercitationem magnam accusantium a voluptates, explicabo fuga ratione commodi molestiae. Dignissimos consectetur recusandae iusto, nam culpa itaque soluta error maiores voluptates, corporis tempore accusantium quidem est ipsam quisquam! Necessitatibus?
    </p>
</div>